{% extends 'dbviewer/template.html' %} 
{% block 'body' %}
{% if table_header %}
<div>
    <h1>Latest VRF Records</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="width: 5%;">Link</th>
            <th style="width: 5%;">Index</th>
            {% for value in table_header %}
                <th>{{ value }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in table_rows %}
        <tr>
            <th class="text-center"><a href="{% url 'dbviewer:detail' row.id %}">Go</a></th>
            <th class="text-center">{{ row.idx }}</th>
            {% for value in row.values %}
            <th>{{ value }}</th>
            {% endfor %}
        </tr> 
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No data!</p>
{% endif %}
{% endblock %}